// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('../../lib/font/source-sans-pro/source-sans-pro.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Trocchi|Arima+Madurai:900');


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #84d8c9;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 38px;
$mainFontSizeMedium: 30px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Montserrat', Impact, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2c1d96;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Arima Madurai', serif;
        font-weight: black;
    }
}

.reveal h2 {
    font-size: 2em;
}

.reveal section img.img--no-format {
    border: none;
    box-shadow: none;
    background: none;
}

.reveal section table {
    font-size: $mainFontSizeMedium;
}

.reveal pre {
    width: 100%;
}

.twitter-tweet {
    margin: 0 auto !important;
}

.white-font {
    color: white !important;
    text-shadow: 1px 1px 5px #333 !important;
}